.itIsFvavorite {
  background-color: #eae808;
  border: 3px solid #ffd700;
}

.itIsNotFvavorite {
  background-color: #7fffd4;
}

.modal {
  font-size: 12px;
  text-align: center;
  border-radius: 20px;
}
.modal > .header {
  width: auto;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

span .about-me {
  width: 500px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #f8b390;
  border: none;
  padding: 6px;
  border-radius: 30px;
}

.button-info {
  color: white;
  font-size: 12px;
  border: none;
  background: linear-gradient(to bottom, #f8b390, #e56d6f);
  cursor: pointer;
  float: left;
}

.div-filter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.div-filter-p {
  margin-bottom: 15px;
  text-decoration: underline;
  font-weight: bold;
}
